body {
  font-family: Arial, sans-serif;
}

/* pop up text section */

.headertext{
  background: pink;
  padding-top: 30px;
  text-align: center;
}

.ptext{
  color: #6c757d;
}

.popup-text{
  font-size: 1rem;
  font-weight: bold;
  color: #ff6347;
  animation: pop 1.5s infinite ease-in-out;
}

span{
  color: #ff6347;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.card-img-container {
  position: relative;
}

.card-img-container img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.card-body {
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
